<footer class="footer">
<style>
        .footer {
          padding-right: var(--block-spacing-horizontal);
          padding-left: var(--block-spacing-vertical);
          margin: auto;
          width: 50%;
          text-align: center;
        }
    </style>
    <label> Made with &#128156 by me <label>
    <a href="https://github.com/JustAntoRS/MyPortfolio" aria-label="GitHub Repository" class="secondary">
        GitHub Repository
    </a>
</footer>