<article>
  <h2> Featured Project </h2>
  <section class="grid" style="padding-bottom:var(--block-spacing-vertical);">
    <img src="/NeonPong_Title.png" style="border-radius:1rem;"/>
    <div>
        <p>Neong Pong is a game I developed in 2019 using the Godot 3.5 Game Engine and programmed in the GDScript language. It's a modern version of the classic Pong game, featuring a futuristic neon aesthetic.</p>
        <p>In Neong Pong, you can play solo against the computer or engage in local multiplayer using the same computer.</p>
        <div class ="grid">
            <a href = "https://github.com/JustAntoRS/NeonPong">
                <span>Github Repository Link</span>
            </a>
            <a href = "https://justantors.itch.io/neonpong">
                <span>Itch.io page</span>
            </a>
        </div>
    </div>
  </section>
  <section class="grid">
    <img src="/NeonPong_Game.png" style="border-radius:1rem;"/>
    <img src="/NeonPong_Starting.png" style="border-radius:1rem;"/>
    <img src="/NeonPong_Menu.png" style="border-radius:1rem;"/>
  </section>
</article>