<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <title>just a portofolio</title>
  <style>
  </style>
</head> 
<body>
  <style>
    :root {
      --primary: #ad66e8;
      --primary-hover: #6682e8;
      --spacing: 0.6rem;
    }
    .main-grid {
      padding-right: var(--block-spacing-horizontal);
      padding-left: var(--block-spacing-vertical);
    }
    .profile-picture {
      max-height: 90%;
      max-width: 90%;
    }
    img {
      margin: auto;
    }
  </style>
  {% include  "layouts/components/navbar.njk" %}
  <main>
    {{content | safe}}
  </main>
</html>